html, body {
    margin: 5px;
    padding: 0;
}
#header{
    width: 100%;
    height: 20%;
    text-align: center;
}
#containerboxes{
    width: 50%;
    margin:auto;
    float: none;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }