#header {
    width: 100%;
    background-color: rgb(60, 255, 0);
    height: 30px;
}

#containeroptions {
    width: 50%px;
    float:left;
    margin: auto;
}
#first {
    width: 300px;
    float: left;
    height: 200px;

}
#second {
    width: 30%;
    float: bottom;
    height: 50%;
    padding: 0%;
    
}
#clear {
    clear: both;
}

#containerdatas{
    width: 50%;
    float: right;
    margin-right: auto;
}

.button {
    background-color: #4CAF50;
    border: 2px solid rgb(226, 255, 58);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }