.container {
    
  display: inline-grid
  grid-auto-rows: 1fr
  grid-template-columns: 1fr
  grid-template-rows: 1fr 0.8fr
  gap: 0px 0px
  grid-template-areas:
    "Buscar"\
}

.Buscar { grid-area: Buscar
  backdrop-filter: blur(25px) saturate(0%);
  -webkit-backdrop-filter: blur(25px) saturate(0%);
  background-color: rgba(33, 89, 141, 0.86);
  background-size: 661px, 600px
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: inline-grid
  justify-items: center
  align-items: center
}
.busca{
  text-align: center
}

h2
  margin 40px 0 0

h3 
  text-align: center
ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 10 10px

a
  color #42b983

input
  display: grid

button {
  background-color: rgb(55, 100, 158);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 50%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #AFFC41;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
button:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed}