<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/vue-router@4"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.png">
    <title>Sua Conta Basa</title>
  </head>
 
  <body>
    <noscript>
      <strong>Pedimos desculpas, mas o Sua Conta BASA não funciona sem o JavaScript habilitado. Por favor, habilite ele para continuar.</strong>
    </noscript>
    <div id="app">
        <h1>Bem Vindo a Sua Conta!</h1>
        <router-link to ='/'>Go to Home </router-link>
        <p>        </p>
        <router-link to='../views/menu-principal.vue'>Menu Principal</router-link>
    </div>
  </body>
</html>
