<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="styles/css/user.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>DIGITAL BANK</title>
        <div id="header"></div>
    </head>

<body background="https://www.foregon.com/blog/wp-content/uploads/2021/02/comoabrircontabancodaamazonia-1.jpeg">
    
<div id="containeroptions">
    <div id="first">
        <div id="app">
           <p> {{ Olá + user }} </p>
           
        </div>
        <script src="scripts/user.js"> </script>
    </div>
    
    
    <div id="second">
        <h2>Opções</h2>
        <a href="http://127.0.0.1:5500/app-vue/public/template.html"><button onclick="minhaFuncao()" type="button" class="button">Deposito</button></a>
        <p></p>
        <a href="http://127.0.0.1:5500/app-vue/public/saque.html"><button type="button" class="button">Saque</button></a>
        <p></p>
        <button type="button" class="button">Transferência</button>
        <p></p>
       <a href="http://127.0.0.1:5500/app-vue/public/mainpage.html"> <button onclick="loginFuncao()" type="button" class="button">Sair</button></a>
    </div>
    
    
    <div id="clear">


    </div>
</div>
<script>
     function minhaFuncao(){
       
        alert ('Atenção você irá realizar uma transferência bancária')
         }
</script>
<script>
    function loginFuncao(){
        alert ('Você será redirecionado para a tela de login')
    }
</script>
</body>
</html>