<template>
<div id="menu-principal">
    Contador:{{  counter  }}
</div>
</template>

<script>
export default {
  data () {
    return {
      counter: 0
    }
  }
}

Vue.createApp(Counter).mount('#counter')
</script>

<style scoped>
p{
    font-size: 2em;
    text-align: center;
}

</style>
